.dashboard-parent{
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav{
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.nav-left {
  position: relative;
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left-links {
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
  color: #767676;
  font-family: sans-serif;
  font-size: 13.5px;
  padding: 15px;
}

.nav-left-links:hover{
  color: #e53e00;
}

.active {
  border-bottom: 2px solid #e53e00;
}

.dash-bored {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  position: relative;
}

.dash-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  width: 155px;
  height: 110px;
  position: absolute;
  right: -60px;
  top: 55px;
  border: 1px solid black;
  background-color: white;
}

.dash-box > button{
  font-size: 14px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  height: 58px;
  width: 155px;
  z-index: 5;
}

.create-route{
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: sans-serif;
}

.dash-box > button, .dash-create-route{
  padding: 0px 2px;
  line-height: 22px;
  padding-right: 3px;
}

.dash-box > button:hover, .dash-create-route:hover{
  background-color: lightgrey;
}

.nav-plus:hover{
  color: #e53e00;
}

.dash-cover {
  border: 1px solid white;
  height: 1px;
  width: 94px;
  right: 59px;
  top: -2px;
  z-index: 500;
  background: white;
  position: absolute;
}

.dash-hover-helper{
  display: flex;
  height: 26px;
  align-items: center;
  font-size: 10px;
  height: 54px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid white;
  z-index: 12;
  position: relative;
}

.dash-link {
  display: flex;
  align-items: flex-end;
  height: 20px;
}

.dash-link:hover {
  border-bottom: 2px solid white;
}

.dash-hover-helper:hover{
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid white;
  z-index: 12;
}

.nav-icon {
  outline-style:none;
  text-decoration: none;
  font-family: impact;
  font-size: 20px;
  font-weight:bolder;
  color: #e53e00;
  border: none;
  min-width: 140px;
  text-align: center;
}

.the-br-box{
  grid-template-rows: 20% 10% 25% 25% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  display: grid;
  flex-direction: column;
  height: 400px;
  width: 280px;
  margin-right: 30px;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 15px #ededed;
  border-radius: 5px;
}

.tabs-container {
  grid-row: 1;
  grid-column: 1/6;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tag {
  padding-left: 1px;
  width: 92px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.greyBack {
  background: #f4f4f4;
}

.whiteBack {
  background: white;
}

.penguin-icon {
  width: 91px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.run-icon {
  padding-right: 2px;
}

.br-box-icon {
  grid-row: 4;
  grid-column: 4;
  color: lightgrey;
  border: 1px solid lightgrey;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%
}

.week-miles {
  text-align: center;
  grid-row: 3;
  grid-column: 2/5;
}

.br-box-distance {
  margin-top: 16px;
  color: teal;
  font-family: sans-serif;
  font-size: 25px;
}

.br-box-stats {
  font-family: sans-serif;
  font-size: 12px;
}

.br-time-elevation {
  display: flex;
  grid-row: 5;
  grid-column: 1/5;
  justify-content: space-around;
  width: 280px;
  color: lightgrey;
}

.scroll-dash {
  width: 220px;
  position: fixed;
  z-index: 60;
  border-bottom: grey;
  padding-right: 660px;
}

.dont {
  width: 280px;
  margin-right: 30px;
  background: transparent;
}

.f-wrapper{
  width: 220px;
  position: absolute;
  top: 0;
  right: 500px;

}
