
.login{
  font-family: sans-serif;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid gray;
  color: #ff4500;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}

.login:hover{
  background-color: gray;
  border: 1px solid grey;
  transition: .5s;
}

.session-nav-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4500;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  padding: 5px 400px;
  font-family: impact, serif;
}

.login-container{
  position: absolute;
  top: 6%;
  right: 35%;
  border-radius: 3px;
  margin: 0 auto;
  height: 500px;
  background-color: rgba(0,0,0, 0.7);
  width: 400px;
  border: 1px solid black;
}

.login-form{
  display: grid;
  grid-template-rows: .5fr .9fr .8fr 1.5fr 1fr 1fr;
}

.login-top{
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0px;
  background-color: rgba(0,0,0, 0.5);
}

.login-form > input {
  border: 1px solid lightgray;
  font-size: 16px;
  height: 0px;
  order:2;
  margin: 0 auto;
  color: white;
  padding: 20px;
  background: black;
  width: 260px;
}

.login-form > button {
  height: 0px;
  font-size: 15px;
  order: 3;
  margin: 0 auto;
  width: 304px;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  background: #ff5719;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
}

.login-form > input:focus {
  background: white;
}

.login-form > button:hover {
  cursor: pointer;
  background: #e54e16;
  transition: .5s;
}

#login-signup{

  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid lightgray;
  color: gray;
  background-color: white;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}

#login-signup:hover{
  background-color: #fafafa;
  transition: .5s;
  cursor: pointer;
}

.line {
  margin: auto;
  margin-top: 35px;
  order: 6;
  height: .6px;
  background: gray;
  width: 360px;
}

.blackButton{
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 40;
  left: 0;
  height: 100%;
  transition: 1s;
}
