// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-route-map {
  height: 800px;
  width: 90%;
  margin: 0 auto;
}
