.searcharino{
  color: grey;
  cursor: pointer;
}

.searcharino:hover{
  color: black;
}

.search-icons {
  color: inherit;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding:none;
}

.search-boxes{
  position: relative;
  display: flex;
  align-items: center;
}

.search-item{
  height: 40px;
  width: 140px;
  border-radius: 0;
  background: white;
  margin-right: 5px;
  -webkit-appearance: none;
}

.search-input{
  height: 34px;
  width: 250px;
}

.search-exit{
  border: none;
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
}

.disappear{
  display: none;
}

.search-box{
  position: absolute;
  top: 40px;
  left: 144px;
  width: 258px;
  margin: 0 auto;
  margin: 6px 0px;
  background: white;
  box-shadow: 0 0 15px #ededed;
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  grid-template-columns: 15% 50% 10% 10% 10%;
  cursor: default;
}

.search-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 10px;
}

.search-box-item{
  grid-column: 1/7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  color: grey;
  font-size: 14px;
  cursor: pointer;
}

.search-box-item:hover{
  color: black;
  background: #ededed;
}
