

.session-nav-signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4500;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  padding: 5px 150px;
  font-family: impact, serif;
}

.icon {
  font-weight:bolder;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
  color: #e53e00;
}

.signup{
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid lightgray;
  color: grey;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}

.signup:hover{
  background: #e53e00;
  transition: .5s;
}

.main-text{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.session-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}
