

.session-nav-signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4500;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  padding: 5px 80px;
  font-family: impact, serif;
}


.icon {
  font-weight:bolder;
}


.signup{
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid lightgray;
  color: grey;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}
