
.signup {
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightgray;
  color: white;
  background-color: #ff4500;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}

.background {
  background-color: inherit;
  min-width:100%;
  min-height: 1000px;
  height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: 1s;
}

.signup-buttons{
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.session-nav-signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4500;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  font-family: impact, serif;
}

.signup-container{
  top: 15%;
  right: 35%;
  position: absolute;
  border-radius: 3px;
  margin: 0 auto;
  height: 600px;
  background-color: rgba(0,0,0, 0.7);
  width: 400px;
  border: 1px solid black;
}

.signup-form{
  display: grid;
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

.signup-top{
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 100;
  padding: 20px 20px;
  background-color: rgba(0,0,0, 0.5);
}

.signup-form > input {
  border: 1px solid lightgray;
  font-size: 16px;
  height: 0px;
  order:2;
  margin: 0 auto;
  color: white;
  padding: 20px;
  background: black;
  width: 260px;
  margin-bottom: 10px;
}

.signup-form > input:focus {
  background: white;
  color: black;
}

.signup-form > button {
  height: 0px;
  font-size: 15px;
  order: 3;
  margin: 0 auto;
  width: 304px;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  background: #ff4500;
  margin-top: 30px;
  border: none;
}

.signup-form > button:hover {
  background: #e53e00;
  transition: .5s;
  cursor: pointer;
}

.signup-text{
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 300px;
  font-size: 15px;
  margin-top: 30px;
}

.login-signup{
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid lightgray;
  color: gray;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
}
