
.splash-login{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  color: black;
  border: 1px solid lightgrey;
  outline-style:none;
  box-shadow:none;
  text-decoration: none;
  padding: 15px 200px;
}

.mail{
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: -180px;
}

.splash-login-text{
  font-family: sans-serif;
  padding-left: 200px;
}

.splash-login:hover{
  background-color: #fafafa;
  border: 1px solid grey;
  transition: .5s;
}
