.training-week{
  width: 90%;
  margin: 0 auto;
  height: 200px;
  border-bottom: 1px solid grey;
  position: relative;
}

.dotted {
  border-left: 1px dotted black;
  height: 100px;
}

.dotted-flex{
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: auto;
  position: absolute;
  bottom: 0px;
  right: 6.4%;
}

.log-index{
  width: 90%;
  margin: 0 auto;
}

.top-text {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.training-display {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 20% 20% 20% 10% 10%;
  width: 90%;
  margin: 0 auto;
}

.week-days{
  width: 65%;
  left: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: auto;
  position: absolute;
  top: 200px;
  background: white;
}

.training-miles {
  position:absolute;
  font-size: 28px;
  font-weight: lighter;
  font-family: sans-serif;
  bottom: 30px;
}

.the-date{
  position: absolute;
  bottom: 120px;
}

.time-training {
  position: absolute;
  bottom: 105px;
}

.distance-traveled{
  position: absolute;
  bottom: 107px;
  left: 100px;
  font-size: 15px;
  font-family: sans-serif;
}

.scroll {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 65%;
  text-align: right;
  right: 14.8%;
  padding: 30px 0px;
  background: white;
  top: 0px;
  z-index: 2;
  border-bottom: 1px solid #ededed;
}
