// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workout-box{
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin: 6px 0px;
  background: white;
  box-shadow: 0 0 15px #ededed;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  grid-template-columns: 15% 50% 10% 10% 10%;
  cursor: default;
}

.material-icons{
  display: grid;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.fal {
  width: 50px;
  hieght: 50px;
}

.dash-feed-image {
  align-self: center;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  grid-column: 1;
  grid-row: 1;
  top: 0px;
}

.time, .distance, .elevation {
  display: grid;
  text-align: left;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: lighter;
}

.wbox-header {
  padding-top: 20px;
  align-self: center;
  text-align: left;
}

.workout-title:hover{
  color: blue;
  cursor: pointer;
}

.top-left-image{
  padding-top: 20px;
  align-self: center;
  justify-self: center;
}

.wbox-name {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.wbox-date {
  font-weight: lighter;
  color: gray;
  font-family: sans-serif;
  font-size: 11px;
}

.wbox-stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
  height: 30px;
}

.stats-label {
  font-weight: lighter;
  font-family: sans-serif;
  color: gray;
  font-size: 13px;
}

.workout-title {
  grid-column: 2/6;
  grid-row: 2;
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  font-weight:500;
  height: 30px;
}

.map-container{
  display: grid;
  grid-area: 3/6/5/1;
  padding-left: 28px;
  padding-bottom: 30px;
  padding-top: 50px;
  height: 200px;
}

.workout-upload {
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  margin-top:  50px;
}

.upload-top{
  display: flex;
  flex-direction: column;
}

.workout-entry {
  display: flex;
  flex-direction: row;
  width: 89.9%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}

.top-upload-box{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #d7d7d7;
}

.middle-upload-box{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
}

.sport-date {
  margin-left: 70px;
  margin-top: 80px;
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.title-box {
  margin-left: 70px;
  margin-top: 40px;
  width: 45%;
}

.entry-text{
  margin-left: 50px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: lighter;
}

.workout-create{
  font-family: sans-serif;
  font-size: 14px;
  width: 70px;
  height: 30px;
  color: white;
  background: #ff4500;
  text-align: center;
  border-radius: 5px;
}

.workout-create-buttons {
  margin-top: 60px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.workout-cancel {
  margin-left: 20px;
  color: blue;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.workout-entry > label, .sport-date > label, .title-box > label {
  font-family: sans-serif;
  font-weight: lighter;
}

.title-input {
  width: 415px;
}

.workout-upload-input {
  height: 20px;
}

.search-icons {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding:none;
}

.index-icon{
  padding-top: 20px;
}

.main-feed {
  display: flex;
  flex-direction: column;
}

.toggle-workouts{
  background: #f4f4f4;
  height: 40px;
  width: 180px;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  margin-top: 5px;
}

button:focus {outline:0;}

.toggle-workouts:hover{
  background-color: white;
  box-shadow: 0 0 15px #ededed;
  transition: 1s;
  cursor: pointer;
}

.wbox-comment {
  grid-column: 1/6;
  font-size: 12px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commenter-image {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-left: 30px;
}

.comment-text{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 30px;
}

.like-comment{
  display: flex;
  grid-row: 5;
  grid-column: 4/6;
  height: 33px;
  width: 100px;
  padding-right: 10px;
}

.lc {
  background: #ededed;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
  width: 43px;
  margin: 0 auto;
  border-radius: 5px;
}

.lc:hover{
  background-color: white;
  transition: 1s;
  border: 1px solid #ededed;
}

.step{
  grid-column: 1/6;
  height: 30px;
  width: 100%;
  align-self: flex-start;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}

.user-img{
  vertical-align: middle;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-right: 15px;
}

.comment-input{
  width: 83%;
  background-color: #f4f4f4;
  border: none;
  padding: 7px 0px;
  margin-right: 20px;
  border-radius: 8px;
  padding-left: 10px;
}

input:focus {outline:0;}

.comment-info-container{
  padding-top: 15px;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-right: 20px;
}

.comment-post{
  border: none;
  color: #ff4500;
  font-weight: bold;
}

.comment-post:hover{
  background: #f4f4f4;
  transition: 1s;
  cursor: pointer;
  border-radius: 5px;
}

.delete-comment {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 40px;
  font-weight: lighter;
  font-size: 30px;
  font-family: sans-serif;
  background: none;
  border: none;
  color:white;
}

.delete-comment:hover{
  display: block;
  color: black;
  transition: .5s;
  cursor: pointer;
}

.comment-left{
  display: flex;
  justify-content: space-around;
}
