// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workout-box{
  width: 570px;
  height: 320px;
  margin: 0 auto;
  text-align: center;
  margin: 6px 0px;
  background: white;
  box-shadow: 0 0 15px #ededed;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1.5fr .8fr .8fr 4fr 1fr;
  grid-template-columns: 15% 50% 10% 10% 10%;
}

.material-icons{
  display: grid;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  margin-top: 10px;
}

.fal {
  z-index: 2;
  width: 50px;
  hieght: 50px;
}

.dash-feed-image {
  align-self: center;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  grid-column: 1;
  grid-row: 1;
  top: 0px;
}

.time, .distance, .elevation {
  display: grid;
  text-align: left;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: lighter;
}

.wbox-header {
  padding-top: 20px;
  align-self: center;
  text-align: left;
}

.top-left-image{
  padding-top: 20px;
  align-self: center;
  justify-self: center;
}

.wbox-name {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.wbox-date {
  font-weight: lighter;
  color: gray;
  font-family: sans-serif;
  font-size: 11px;
}

.wbox-stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
}

.stats-label {
  font-weight: lighter;
  font-family: sans-serif;
  color: gray;
  font-size: 13px;
}

.workout-title {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  font-weight:500;
}

.map-container{
  display: grid;
  grid-area: 4/6/6/1;
  padding-left: 28px;
  padding-bottom: 30px;
  padding-top: 20px;
}
